


h1 {
    text-align: center;
}
body {
    border-radius: 12px;
    border-color: brown;
}
button {
    background-color: blueviolet;
    height: 40px;
    border: 1px solid purple;
}



.container {
    width: 250px;
    min-height: 50px;
    padding: 20px;
    border:1px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section-one{
    display: flex;
    justify-content: center;
}

img {
    margin: 0 auto;
    width: 50px;
	height: 50px;
}

#count , #count-tab, #count-tv{
    font-weight: bold;
    font-size: 30px;
}
.container p {
    text-align: center;
}
.btnContainer{
    display: flex;
    justify-content: center;
}